*{
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  min-height: 100vh;
  background-color: #013A33;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #013A33;
  padding: 0;
  display: flex;
  align-items: center; /* keeps items aligned vertically */
  justify-content: flex-start; /* ensures content stays on the LEFT */
}

/* NAVIGATION */
.navigation ul {
  list-style: none;
}

.header .navigation ul li {
  float: left;
  position: relative;
  text-align: left; /* force left alignment */
}

.header .navigation ul li a {
  text-decoration: none;
  padding: 10px;
  display: block;
  transition: all .2s ease;
  font-size: 18px;
  color: white;
  text-align: left; /* ensure text stays left */
}

.header .navigation ul li a:hover {
  background: black;
}

/* DROPDOWN MENU */
.header .navigation ul li ul {
  position: absolute;
  left: 0;
  padding-left: 0;
  background-color: #3e65e6;
  width: 180px;
  display: none;
  text-align: left;
}

.header .navigation ul li ul li a {
  font-size: 15px;
  text-transform: capitalize;
  text-align: left;
}

.header .navigation ul li ul li ul {
  position: absolute;
  top: 0;
  background-color: green;
  left: 180px;
}

.header .navigation ul li ul li {
  width: 100%;
  text-align: left;
}

.header .navigation ul li:hover > ul {
  display: initial;
}

/* TOGGLE BUTTON (mobile) */
#toggle,
.header label {
  display: none;
  cursor: pointer;
}

/* MOBILE VERSION */
@media(max-width: 950px) {
  .header label {
    display: initial;
  }

  .header {
    padding: 20px 10%;
  }

  .header .navigation {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: blue;
    display: none;
    text-align: left; /* ensure entire menu stays left-aligned */
  }

  .header .navigation ul li {
    width: 100%;
    text-align: left;
  }

  .header .navigation ul li a {
    padding: 8px 30px 8px 10%;
    text-align: left;
  }

  .header .navigation ul li ul {
    position: relative;
    width: 100%;
    left: 0;
    text-align: left;
  }

  .header .navigation ul li ul li {
    background: purple;
    text-align: left;
  }

  .header .navigation ul li ul li ul {
    position: relative;
    width: 100%;
    left: 0;
    text-align: left;
  }

  #toggle:checked ~ .navigation {
    display: block;
  }
}
