/* Base styling */
body {
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, #006400 10%, #013A33 100%);
    margin: 0;
    padding: 40px;
    color: #222;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 20px #002A28;
    padding: 40px 60px;
}

h1 {
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.5px;
    border-bottom: 3px solid #0a3d62;
    padding-bottom: 10px;
}

h1::first-letter {
    font-size: 40px;
    color: #034840;
    font-weight: bold;
}

p {
    letter-spacing: 1px;
    font-size: 21px;
    margin-bottom: 20px;
    line-height: 1.6;
}

.profile-img {
    width: 70%;        /* smaller than before */
    max-width: 700px;  /* reduced max size */
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 12px;
}

@media(max-width: 768px) {

    body {
        padding: 15px;
    }

    .container {
        padding: 20px;
        border-radius: 12px;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
        text-align: justify;
    }

      .profile-img {
        width: 80%;
        max-width: 450px;
}
}
@media(max-width: 480px) {

    .container {
        padding: 15px;
    }

    h1 {
        font-size: 22px;
    }

    p {
        font-size: 17px;
    }

    .profile-img {
        width: 100%;
        max-width: 320px;
    }
}
