

     .container {
      flex: 1 1 400px;
      max-width: 1000px;
      margin: 0 auto;
      background: #fff;
      border-radius: 16px;
      box-shadow: 0 4px 20px #002A28;
      padding: 40px 60px;
    } 
 body {
  display: flex;
  justify-content: center;     
  align-items: flex-start;    
  gap: 40px;                   
  font-family: Arial, sans-serif;
  background: radial-gradient(circle, #006400 10%, #013A33 100%);
  margin: 0;
  padding: 60px 20px;          
  color: #222;
  flex-wrap: wrap;            
}

.image {
  flex: 1 1 200px;            
  max-width: 200px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 20px #002A28;
  padding: 30px 50px;
  min-height: 150px;
}
    h1 {
      text-align: center;
      font-size: 30px;
       letter-spacing: 0.5px; 
       border-bottom: 3px solid #0a3d62; 
       padding-bottom: 10px; 
    }

    h1::first-letter{
    font-size:40px;
     color:#034840;
    font-weight: bold;
      }

  .image-container{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  gap: 20px;
  margin-top:30px;
}

p{
  word-spacing:10px;
  font-family:  Arial, sans-serif;
  font-size:18px;
  letter-spacing: 1px; 
  margin-bottom:20px;
}


