table{
    width: 90%;
    max-width: 1000px;
    border-collapse:collapse ;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 30px;
}

body{
     font-family:  Arial, sans-serif;
      background: radial-gradient(circle, #006400 10%, #013A33 100%);
      margin: 0;
      padding: 40px;
      color: #222;
}

h1{

  font-family: Arial, sans-serif;
  text-align: left;
  font-size: 32px;
  letter-spacing: 0.5px;
  border-bottom: 3px solid  #0a3d62;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 25px;color: #0a3d62;
  background-color: white;
}

h1::first-letter {
  font-size: 50px;
  color:  #013A33 ;
  font-weight: bold;
}




th{
    border:2px solid rgb(214, 210, 210);
    padding:10px;
    text-align: left;
    
    
}


td{

    border:2px solid rgb(214, 210, 210);
    padding:10px;
    padding-bottom: 25px;
    font-size: 18px;
}


tr:nth-child(odd) {
    background-color: #f5f5f5;   
}
tr:nth-child(even) {
    background-color: #e6e4e4;  
}
td:hover {
    background-color: rgb(212, 212, 212) ;  
}

.screen{
    width:100%;
}

body{
     font-family:  Arial, sans-serif;
      background: radial-gradient(circle, #006400 10%, #013A33 100%);
      margin: 0;
      padding: 40px;
      color: #222;
}

@media screen and (max-width: 900px) {
    table {
        width: 100%;
    }
    
}

